@catalyst:registry = https://pkgs.dev.azure.com/wundermanio/catalyst-packages/_packaging/catalyst-public/npm/registry/
@catalyst-core:registry = https://pkgs.dev.azure.com/wundermanio/catalyst-packages/_packaging/catalyst-public/npm/registry/
registry = https://registry.npmjs.org
